@font-face {
  font-family: Roboto-light;
  src: url(../Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-regular-i;
  src: url(../Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-medium-i;
  src: url(../Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-sm-bold;
  src: url(../Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}
