.footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $color-primary;

  a {
    display: block;
  }

  display: grid;
  grid-template-columns: 1fr 115rem 1fr;

  &-content {
    padding: 4.4rem 0;
    height: auto;
    min-width: 115rem;
    grid-column: 2/3;

    @media only screen and (max-width: $sm) {
      padding: 4rem 2rem;
    }
  }

  &__main-content {
    margin-top: 3.3rem;
    display: flex;
    color: $color-white;

    .footer-cel {
      color: $color-white;
      font-family: Roboto-regular;

      &--main-info {
        width: 30%;

        & > * {
          display: flex;
          align-items: center;
          line-height: 2.4rem;

          &:not(:first-child) {
            margin-top: 1.6rem;

            p {
              margin-top: 0 !important;
            }
          }

          svg {
            width: 20px;
            margin-right: 1.4rem;
            flex-shrink: 0;
          }

          p,
          a {
            word-break: break-word;
          }

          font-size: $default-font-size;
        }
      }

      &:not(:first-child) {
        margin-left: 2rem;
        width: 23%;
        padding-left: 2rem;

        p,
        a {
          &:first-child {
            font-family: Roboto-sm-bold;
          }
        }
      }

      p:not(:first-child),
      a:not(:first-child) {
        line-height: 2.4rem;
        margin-top: 1.6rem;
        cursor: pointer;
        color: $color-white !important;
      }
    }

    .footer-cel--main-info {
      p,
      a {
        margin-top: 0;
      }
    }
  }

  &__business-logo {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;

    img {
      width: 16rem;
      // height: 6rem;
    }

    .devider {
      margin-top: 5px;
      height: 1px;
      width: 100%;
      background-color: #7170c4;
    }
  }

  &__bottom-line {
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-between;

    p {
      width: 63rem;
      font-size: 14px;
      color: $color-white;
    }
  }

  &__social-icons {
    display: flex;

    svg {
      cursor: pointer;
    }

    & > *:not(:last-child) {
      margin-right: 3.7rem;
    }
  }

  @media only screen and (max-width: $lg) {
    width: 100%;
    display: block;
    height: auto;
    overflow-x: hidden;

    &-content {
      width: 95%;
      min-width: unset;
      margin: 0 auto;
    }

    &__main-content {
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: min-content 1fr;
      grid-gap: 4rem;
      justify-content: space-between;
      // align-items: center;

      & > * {
        width: 100% !important;

        &:first-child {
          margin-left: 4rem;
        }
      }
    }

    .footer__main-content {
      font-size: 14px;

      p,
      a,
      div {
        font-size: 14px;
      }
    }

    .footer-cel {
      margin: 0 !important;
      padding-left: 0 !important;
    }
  }

  @media only screen and (max-width: $sm) {
    .footer-content {
      padding: 4rem 0;
    }

    &__main-content {
      grid-gap: 2.5rem;
    }

    .footer__bottom-line {
      flex-wrap: wrap;

      p,
      a {
        width: auto;
        margin-bottom: 1rem;
        color: $color-white;
      }
    }

    .footer__business-logo {
      margin-top: 4rem;
    }
  }
}
