.ant-form {
  .custom-form-item {
    .ant-form-item-label {
      label {
        color: $color-primary;
        font-size: 14px;
        line-height: 2.4rem;
        font-family: Roboto-sm-bold;
      }
    }

    .ant-form-item-control {
      input,
      textarea {
        &,
        &:focus,
        &:hover {
          border: none;
          border-bottom: 1px solid $color-border-grey;
          box-shadow: none;
          padding-left: 0;
          color: $color-primary;
          font-family: Roboto-medium;
          font-size: $default-font-size;
          line-height: $default-line-height;
        }

        &::-webkit-input-placeholder {
          font-size: $default-font-size;
          line-height: $default-line-height;
          color: $color-grey-weight;
          font-family: Roboto-medium;
        }
      }
    }

    textarea {
      border: 1px solid $color-border-grey !important;
      border-radius: 16px;
    }

    //PICKER

    .ant-picker {
      &,
      &:focus,
      &:hover {
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 0;
        border-bottom: 1px solid $color-border-grey;

        input {
          border: none !important;
        }
      }
    }
  }
}
