.section-title {
  // border: solid thin red; // enable for debug

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__sub-title {
    color: $color-primary;
    font-family: Roboto-medium;
    font-size: $default-font-size;
    line-height: 2rem;
    text-align: center;
  }

  &__main-title {
    color: $color-primary;
    font-family: Roboto-sm-bold;
    font-size: 3.6rem;
    text-align: center;
  }

  &__left-icon {
    bottom: 2rem;
    left: -8rem;
    position: absolute;
  }

  &__right-icon {
    position: absolute;
    right: -8rem;
    top: 3rem;
  }
}

@media only screen and (max-width: $md) {
  .section-title {
    // border: solid thin green; // enable for debug

    &__main-title {
      font-size: 36px;
      line-height: 50px;
      width: 55rem;
    }
  }
}

@media only screen and (max-width: $sm) {
  .section-title {
    // border: solid thin blue; // enable for debug

    &__main-title {
      font-size: 28px;
      line-height: 50px;
      width: 40rem;
    }

    &__left-icon {
      left: -4rem;
    }

    &__right-icon {
      right: 2rem;
      top: 10rem;
    }
  }
}