.select-gender {
  display: flex;

  &-card {
    height: 11.8rem;
    width: 18.6rem;
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid rgb(242, 242, 242);
    box-shadow: rgb(40 74 117 / 8%) 0px 5px 12px;

    &:first-child {
      margin-right: 20px;
    }

    &--selected {
      border: 1px solid rgb(45, 135, 243);
      box-shadow: none;

      .select-gender-card__label {
        color: $color-primary;
      }
    }

    &__figure {
      margin-bottom: 1rem;
    }

    &__image {
      height: 6rem;
      width: 6rem;
    }

    &__label {
      color: rbga(0, 0, 0, 0.85);
    }
  }
}
