.slider {
  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3.1rem;

    svg {
      margin: 0 12px;
      cursor: pointer;
    }
  }
}

.slick-arrow {
  display: none !important;
}
