$primary: #85a5ff;

.custom-calendar {
  min-width: 320px;
  width: 100%;
  border-radius: 12px 12px 0 0;

  overflow: hidden;

  &__nav {
    padding: 0 15px;
    background-color: $primary;
    color: #fff;
    height: 70px;
    position: relative;

    a {
      position: absolute;
      cursor: pointer;
      left: 10px;
      font-size: 32px;
      line-height: 1;
      top: 16px;
      width: 30px;
      text-align: center;
      display: inline-block;
      color: transparentize(#fff, 0.6);
      user-select: none;

      &:hover {
        color: #fff;
      }

      &:last-child {
        left: auto;
        right: 10px;
      }
    }

    h1 {
      margin: 0;
      position: absolute;
      left: 40px;
      right: 40px;
      text-align: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 30px;
      line-height: 66px;
      user-select: none;
    }

    small {
      font-weight: 300;
      font-size: 60%;
    }
  }

  .date-table {
    width: 100%;
    border-collapse: collapse;

    &__row {
      height: 53px;
    }

    &__cell {
      border: 1px solid #dadada;
      border-top: none;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: calc(100% / 7);
      font-family: roboto;
    }

    &__th {
      background-color: #f0f0f0;
      // border-bottom: 1px solid #dadada;
      // border-left: none;
      // border-right: 1px solid #dadada;
      // border-top: none;
      border: 1px solid #dadada;

      color: #666;
      font-family: roboto-medium;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
      text-align: center;
      text-transform: none;
      vertical-align: middle;
    }
  }
}

.date-table-cell {
  position: relative;
  border: 1px solid #dedede;

  &__text {
    position: absolute;
    top: 5px;
    left: 9px;
  }

  .fa {
    font-size: 18px;
    position: relative;
    color: #2449b4;
    top: 10px;

    &.fa-heart {
      color: #e58185;

      &:after {
        color: #cb2026;
        content: '\f004';
        left: 0;
        position: absolute;
        top: 0;
      }

      &.percent25:after {
        clip: rect(12px, 18px, 18px, 0);
      }

      &.percent50:after {
        clip: rect(9px, 18px, 18px, 0);
      }

      &.percent75:after {
        clip: rect(6px, 18px, 18px, 0);
      }
    }

    &.multi-event--index-1 {
      margin-left: 5px;
    }

    &.icon-brown {
      color: #666;
    }
  }

  &.muted {
    color: rgba(0, 0, 0, 0.3);
  }
}
