// COLOR VARIABLES
$color-primary: #153e6d;
$color-primary-low: #0e4c8c;

$color-white: #fff;
$color-black: #000;
$color-green: #35d2b9;
$color-grey: #f2f7ff;
$color-grey-weight: #a1a4ac;
$color-blue: #3481ff;
$color-border-grey: #ececed;

// FONT VARIABLES
$default-font-size: 16px;
$default-line-height: 3.2rem;
//WIDTH
$content-width: 112.8rem; //1128px
