$maxHeight: 920px;
$heightmaxScreen: 100vh;
$fontReem: Reem Kufi Ink;
$fontSofia: "Princess Sofia", cursive;
$titleMD : 3rem;
$textMd : 2.5rem;
html {
  scroll-behavior: smooth;
}
.gachCheo {
  text-decoration: line-through;
}
.salePage {
  & p,
  a,
  span,
  h3 {
    font-family: $fontReem !important;
  }
  & img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
  &--intro {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #eddb3e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    line-height: 5rem;
    text-align: center;
    // padding-right: 20rem;
    letter-spacing: 1px;
    &__image {
      // width:  30%;
      flex: 1;
      // height: max-content;
      object-fit: contain;
      position: sticky;
      top: -100px;
      margin-top: -100px;
      margin-right: -60px;
      overflow: hidden;
      // & > div {
      //   overflow: hidden;
      //   height: calc(100vh + 40px);
      // }
      img {
        // margin-inline: 0 190px;
        height: calc(100vh) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
      //    position: absolute;
      //    bottom: 0;
      //    right: -20%;
      //    width: 1200px;
    }
    // &__image {
    //   position: absolute;
    //   bottom: 0;
    //   left: -15%;
    //   width: 1100px;
    // }
    &__text {
      width: 50%;
      & .classic {
        font-size: 3rem;
      }
      & .bold {
        font-weight: 700;
        font-size: 4rem;
        & .bgBlack {
          background-color: black;
          padding: 0 3px;
          color: #eddb3e;
        }
      }
    }
  }
  &--pageCaiThien {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #303030;
    position: relative;
    &__pen {
      position: absolute;
      z-index: 0;
    }
    &__icon {
      position: absolute;
      right: 0;
      top: 170px;
    }
    &__title {
      padding-top: 50px;
      position: relative;
      z-index: 1;
      & p {
        color: white;
        font-size: 40px;
        text-align: center;
      }
    }
    &__content {
      padding: 20px 145px;
      position: relative;
      z-index: 1;
      & p {
        color: white;
        font-size: 24px;
      }
      & p:last-child {
        color: white;
        font-size: 24px;
        margin-top: 10px;
      }
    }
  }
  &--DauTuHocPhi {
    background-image: url("/assets/images/salePage/backgroup2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #c2217b;
    padding: 50px 20px;
    &__box {
      background-color: white;
      padding: 40px;
      border: 5px solid black;
      margin-bottom: 30px;
      &__title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
      }
      &__content {
        font-size: 32px;
      }
    }
    // width: 100px;
    // height: 500px;
    // background-image: url('/assets/images/salePage/backgroup2.png');
  }
  &--ConDuong {
    padding: 80px 50px;
    position: relative;
    display: flex;
    height: $heightmaxScreen;
    max-height: $maxHeight;
    &__bg {
      position: absolute;
      inset: 0;
      opacity: 0.5;
      background-image: url("/assets/images/salePage/backgroup.png");
      background-size: 80%;
    }
    &__left {
      width: 65%;
      &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
      }
      &__content {
        font-size: 26px;
        text-align: center;
      }
      &__link {
        color: red;
      }
    }
    &__right {
      // position: absolute;
      // bottom: 0;
      // right: -20%;
      // width: 1200px;
      // width:  30%;
      flex: 1;
      //  height: max-content;
      object-fit: contain;
      position: sticky;
      //  top: -100px;
      margin-top: -200px;
      margin-right: -60px;
      overflow: hidden;
      // & > div {
      //   overflow: hidden;
      //   height: calc(100vh + 40px);
      // }
      img {
        // margin-inline: 0 190px;
        height: calc(100vh + 50px) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
    }
  }

  &--DatDuoc {
    background-color: #303030;
    height: $heightmaxScreen;
    max-height: $maxHeight;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    &__left {
      width: 20%;
      & p {
        font-size: 40px;
        font-weight: 700;
        color: white;
      }
    }
    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 25px;
      &__item {
        display: flex;
        align-items: center;
        &__img {
          width: 50px;
          height: 50px;
        }
        &__title p {
          color: white;
          font-size: 24px;
        }
      }
    }
  }

  &--SoHuu {
    background-color: #eedb3e;
    height: $heightmaxScreen;
    max-height: $maxHeight;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 100px 50px;
    overflow: hidden;
    &__people {
      // position: absolute;
      // width: 78%;
      // bottom: 0;
      transform: scaleX(-1);
      // left: -20%;
      // z-index: 1;
      flex: 1;
      z-index: 2;
      object-fit: contain;
      position: sticky;
      margin-top: -100px;
      margin-right: -60px;
      overflow: hidden;
      img {
        height: calc(100vh + 80px) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
    }
    &__NetSon {
      position: absolute;
      width: 90%;
      bottom: 0;
      left: -40%;
      transform: scale(2) rotate(-30deg);
      z-index: 0;
    }
    &__MayBayGiay1 {
      position: absolute;
      width: 20%;
      top: 0%;
      right: 0;
      transform: scaleX(-1);
      z-index: 0;
      opacity: 0.7;
    }
    &__MayBayGiay2 {
      position: absolute;
      width: 35%;
      bottom: -25%;
      left: 45%;
      transform: rotate(50deg);
      z-index: 0;
    }
    &__right {
      width: 65%;
      text-align: center;
      &__content {
        font-size: 28px;
        & span {
          color: #c3227c;
          font-size: 32px;
        }
      }
    }
  }
  &--NoiDungKhoaHoc {
    background-color: #c2217b;
    background-image: url("/assets/images/salePage/backgroup2.png");
    // background-size: 100%;
    background-repeat: no-repeat;
    // height: $heightmaxScreen;
    // max-height: $maxHeight;
    padding: 50px 100px;
    &__title {
      position: relative;
      text-align: center;
      &__bg {
        position: absolute;
        width: 50%;
        top: -150%;
        transform: rotate(5deg);
        left: 30%;
        z-index: 0;
      }
      & h3 {
        position: relative;
        color: black;
        font-size: 40px;
      }
    }
    &__content {
      padding: 50px 200px;
      & .ant-collapse {
        margin-bottom: 30px;
      }
      & .ant-collapse-header {
        align-items: center !important;
      }
      & .ant-collapse {
        background-color: #303030 !important;
        & .ant-collapse-header-text,
        .ant-collapse-expand-icon {
          color: white !important;
          font-size: 24px !important;
        }
      }
    }
  }
  &--PhanQua {
    // background-image: url('/assets/images/salePage/backgroup.png');
    // background-size: 100%;
    // background-repeat: no-repeat;
    // background-size: 100%;
    // height: $heightmaxScreen;
    // max-height: $maxHeight;
    padding: 50px 100px;
    position: relative;
    &__title {
      position: relative;
      text-align: center;
      &__bg {
        position: absolute;
        background-image: url("/assets/images/salePage/backgroup.png");
        z-index: -1;
        inset: 0;
        opacity: 0.5;
        background-size: 80%;
      }
      & h3 {
        position: relative;
        color: black;
        font-size: 40px;
      }
    }
    &__content {
      padding: 50px 0;
      & .ant-collapse {
        margin-bottom: 30px;
        border-color: black !important;
      }
      & .ant-collapse-header {
        align-items: center !important;
      }
      & .ant-collapse {
        background-color: #303030 !important;
        & .ant-collapse-header-text,
        .ant-collapse-expand-icon {
          color: white !important;
          font-size: 24px !important;
        }
      }
    }
  }
  &--LuuY {
    padding: 80px 50px;
    position: relative;
    display: flex;
    // height: $heightmaxScreen;
    // max-height: $maxHeight;
    &__bg {
      position: absolute;
      inset: 0;
      opacity: 0.5;
      z-index: -1;
      background-image: url("/assets/images/salePage/backgroup.png");
      background-size: 80%;
    }
    &__left {
      width: 60%;
      height: max-content;
      padding: 20px 10px;
      border: 3px solid black;
      background-color: #eddb3e;
      &__title {
        // text-align: center;
        font-size: 32px;
        font-weight: 700;
      }
      &__content {
        font-size: 26px;
        // text-align: center;
      }
      &__link {
        color: red;
      }
    }
    &__right {
      // width:  30%;
      flex: 1;
      height: max-content;
      object-fit: contain;
      position: sticky;
      top: -100px;
      margin-top: -100px;
      margin-right: -60px;
      overflow: hidden;
      & > div {
        overflow: hidden;
        height: calc(100vh + 40px);
      }
      img {
        // margin-inline: 0 190px;
        height: calc(100vh + 200px) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
      //    position: absolute;
      //    bottom: 0;
      //    right: -20%;
      //    width: 1200px;
    }
  }
  &--LuaChon {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #303030;
    position: relative;
    &__title {
      padding: 50px 100px 10px 100px;
      z-index: 1;
      & p {
        color: white;
        font-size: 40px;
        text-align: center;
      }
    }
    &__content {
      padding: 20px 145px;
      z-index: 1;
      text-align: center;
      line-height: 1.8;
      & p {
        color: white;
        font-size: 24px;
      }
    }
  }
  &--PhuHop {
    padding: 80px 50px;
    position: relative;
    display: flex;
    // height: $heightmaxScreen;
    // max-height: $maxHeight;
    &__bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: #c2227c;
      background-image: url("/assets/images/salePage/backgroup2.png");
      background-size: 80%;
    }
    &__left {
      order: 2;
      width: 65%;
      height: max-content;
      padding: 20px 10px;
      border: 3px solid black;
      background-color: white;
      &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        padding: 10px 0;
      }
      &__content {
        font-size: 26px;
        text-align: center;
      }
      &__link {
        color: red;
      }
    }
    &__right {
      order: 1;
      // width:  30%;
      flex: 1;
      height: max-content;
      object-fit: contain;
      position: sticky;
      top: -0px;
      & > div {
        margin-left: -120px;
        overflow: hidden;
        height: calc(100vh + 20px);
      }
      img {
        // margin-inline: 0 190px;
        height: calc(100vh + 200px) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
      //    position: absolute;
      //    bottom: 0;
      //    right: -20%;
      //    width: 1200px;
    }
  }
  &--FeedBack {
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #eddb3e;
    position: relative;
    &__bgMayBay1 {
      position: absolute;
      width: 35%;
      top: -5%;
      // left: 45%;
      transform: rotate(50deg);
      z-index: 0;
    }
    &__bgMayBay2 {
      position: absolute;
      width: 15%;
      top: 0%;
      right: 0;
      transform: scaleX(-1);
      z-index: 0;
      opacity: 0.7;
    }
    &__bgVetSon1 {
      position: absolute;
      top: 10%;
      right: -100%;
      z-index: 0;
      transform: rotate(-135deg);
    }
    &__bgVetSon2 {
      position: absolute;
      top: 45%;
      left: -100%;
      z-index: 0;
      transform: rotate(-45deg);
    }
    &__bgVetSon3 {
      position: absolute;
      bottom: -0%;
      right: -100%;
      z-index: 0;
      transform: rotate(-45deg);
    }
    &__title {
      text-align: center;
      font-size: 40px;
      font-weight: 300;
      font-family: "Princess Sofia", cursive !important;
    }

    &__Box {
      padding: 20px 50px;
      position: relative;
      display: flex;

      // height: $heightmaxScreen;
      // max-height: $maxHeight;
      &__left {
        width: 65%;
        height: max-content;
        padding: 20px 30px;

        &__title {
          // text-align: center;
          font-size: 32px;
          font-weight: 700;
          padding: 10px 0;
        }
        &__content {
          font-size: 32px;
          // text-align: center;
        }
        &__link {
          color: red;
        }
      }
      &__right {
        // width:  30%;
        flex: 1;
        height: max-content;
        object-fit: contain;
        position: sticky;
        top: -0px;
        & > div {
          margin-left: -120px;
          overflow: hidden;
          height: calc(80vh);
        }
        img {
          // margin-inline: 0 190px;
          //   height: calc(80vh) !important;
          filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
        }
        //    position: absolute;
        //    bottom: 0;
        //    right: -20%;
        //    width: 1200px;
      }
    }
  }

  &--DangKy {
    padding: 80px 50px;
    position: relative;
    display: flex;
    // height: $heightmaxScreen;
    // max-height: $maxHeight;
    & label {
      font-family: $fontReem !important;
      font-size: 22px !important;
    }
    & input {
      font-size: 18px;
      &::placeholder {
        font-family: $fontReem !important;
        font-size: 22px !important;
        color: black;
      }
    }
    & .submit {
      background-color: #c2227c !important;
      font-size: 32px;
      color: white;
      border-radius: 20px !important;
      padding: 5px 30px;
      height: auto !important;
    }

    &__bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      opacity: 0.3;
      background-image: url("/assets/images/salePage/backgroup.png");
      background-size: 80%;
    }
    &__left {
      width: 50%;
      height: max-content;
      padding: 20px 10px;
      &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        padding: 10px 0;
        color: #c2227c;
      }
      &__content {
        padding: 30px;
        background-color: #eddb3e;
        border-radius: 20px;
        box-shadow: 5px 0 5px 0px #999;
        font-size: 26px;
        text-align: center;
      }
      &__link {
        color: red;
      }
    }
    &__right {
      // width:  30%;
      flex: 1;
      transform: translateY(-130px);
      height: max-content;
      object-fit: contain;
      position: sticky;
      top: 20%;
      & > div {
        margin-right: -120px;
        // overflow: hidden;
        height: calc(100vh + 20px);
      }
      img {
        // margin-inline: 0 190px;
        height: calc(100vh + 200px) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
      //    position: absolute;
      //    bottom: 0;
      //    right: -20%;
      //    width: 1200px;
    }
  }

  &--QA {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #303030;
    position: relative;
    &__title {
      padding: 50px 100px 10px 100px;
      z-index: 1;
      & p {
        color: #eddb3e;
        font-size: 40px;
        text-align: center;
      }
    }
    &__content {
      padding: 20px 145px;
      z-index: 1;
      //   text-align: center;
      line-height: 3;
      & p {
        color: white;
        font-size: 24px;
      }
    }
  }

  //------SALEPAGE2--------------------------------//

  &--BanCanBiet {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #fedeffc2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    line-height: 5rem;
    z-index: -1;
    text-align: center;
    overflow: hidden;
    letter-spacing: 1px;
    &__image {
      flex: 1;
      object-fit: contain;
      position: sticky;
      top: 0px;
      margin-top: -100px;
      margin-right: 100px;
      img {
        height: calc(100vh) !important;
        filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
      }
      &__bg{
        position: absolute;
        opacity: .8;
        top: 10%;
        right: 0%;
      }
    
    }

    &__text {
      width: 40%;
      padding: 0 50px;
      & p {
        font-weight: 700;
        font-size: 4.5rem;
        color: #B70079;
        letter-spacing: 4px;
      }
      & span{
        color: #B70079;
        font-size: 3rem;
      }
    }
    &__bg1{
      position: absolute;
      inset: 0;
      opacity: .4;
    }
  }

  // KHONG THE
  &--KhongThe {
    height: $heightmaxScreen;
    max-height: $maxHeight;
    background-color: #136C94;
    overflow: hidden;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    padding: 50px;
    &__bg{
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      z-index: 0;
      & div{
        max-width: 180px;
      }
    }
    &__text {
      position: relative;
      z-index: 1;
      width: 100%;
     
      & p {
        font-size: 1.8rem;
        color: white;
      }
    }
  }
}
.whiteBox {
  border: 3px solid black;
  background-color: white;
  color: black;
}
.BlackBox {
  border: 3px solid white;
  background-color: black;
  color: white;
}
.order2 {
  order: 2;
}
.order1 {
  order: 1;
}

@media screen and (max-width: $md) {
  .salePage {
    & > div {
      overflow: hidden;
    }
    &--intro {
      flex-direction: column;
      justify-content: space-between !important;
      &__image {
        order: 2;
        display: flex;
        align-items: flex-end;
        img {
          height: calc(80vw) !important;
        }
      }

      &__text {
        width: 95%;
        order: 1;
        & .classic {
          font-size: 20px !important;
        }
        & .bold {
          font-size: 3.5rem !important;
          & .bgBlack {
          }
        }
      }
    }
    &--pageCaiThien {
      &__pen {
      }
      &__icon {
        display: none;
      }
      &__title {
        & p {
          font-size: $titleMD;
        }
      }
      &__content {
        padding: 20px 10px !important;
        & p {
          font-size: 2.4rem;
        }
        & p:last-child {
          font-size: 2.4rem;
        }
      }
    }
    &--DauTuHocPhi {
      &__box {
        padding: 20px !important;
        &__title {
          font-size: $titleMD;
          // font-weight: 700;
          text-align: center;
        }
        &__content {
          font-size: 2rem;
        }
      }
    }
    &--ConDuong {
      padding: 20px !important;
      flex-direction: column;
      &__bg {
      }
      &__left {
        width: 100%;
        &__title {
          font-size: $titleMD;
        }
        &__content {
          font-size: 2.4rem;
        }
        &__link {
        }
      }
      &__right {
        margin-top: -10rem !important;
        margin-right: 5rem;
        img {
          height: 50vh !important;
        }
      }
    }
    &--DatDuoc {
      padding: 10px !important;
      gap: 10px !important;
      max-height: max-content !important;
      height: max-content !important;
      &__left {
        width: 30%;
        text-align: center;
        & p {
          font-size: $titleMD;
        }
      }
      &__right {
        &__item {
          &__img {
          }
          &__title p {
            font-size: 2.4rem;
          }
        }
      }
    }
    &--NoiDungKhoaHoc {
      padding: 20px 5px !important;
      &__title {
        margin-bottom: 30px;
        &__bg {
          position: absolute;
          width: 100% !important;
          top: -126% !important;
          transform: rotate(5deg);
          left: 7% !important;
          z-index: 0;
        }
        & h3 {
          font-size: 4rem;
        }
      }
      &__content {
        padding: 5px !important;
        & .ant-collapse {
        }
        & .ant-collapse-header {
        }
        & .ant-collapse {
          & .ant-collapse-header-text,
          .ant-collapse-expand-icon {
          }
        }
      }
    }
    &--SoHuu {
      flex-direction: column;
      padding: 10px;
      &__people {
        order: 2;
        width: 100%;
        margin-top: -70px;
        img {
          height: calc(70vh) !important;
          filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
        }
      }
      &__NetSon {
        left: -100%;
        width: 100vh;
      }
      &__MayBayGiay1 {
        width: 70vw;
        top: 40%;
        right: 39%;
      }
      &__MayBayGiay2 {
        width: 50vw;
        bottom: 30%;
        left: 34%;
      }
      &__right {
        width: 95% !important;
        &__content {
          font-size: 20px;
          & span {
            color: #c3227c;
            font-size: 24px;
          }
        }
      }
    }
    &--PhanQua {
      padding: 10px;
      &__title {
        
        &__bg {
       
        }
        & h3 {
       font-size: $titleMD;
        }
      }
      &__content {
        & .ant-collapse {
        }
        & .ant-collapse-header {
        }
        & .ant-collapse {
     
          & .ant-collapse-header-text,
          .ant-collapse-expand-icon {
           font-size: $titleMD!important;
          }
        }
      }
    }
    &--LuuY {
      padding: 10px;
      flex-direction: column;
      &__bg {
      }
      &__left {
        width: 100%;
        &__title {
          font-size: $titleMD;
          font-weight: 700;
        }
        &__content {
          font-size: $textMd;
        }
        &__link {
        }
      }
      &__right {
       
        margin-top: -100px;
     
        & > div {
        
          height: calc(20vh);
        }
        img {
          display: none;
        }
      }
    }
    &--LuaChon {
      padding: 10px;
      &__title {
        z-index: 1;
        padding: 0;
        & p {
          font-size: $titleMD;
          font-weight: 700;
          padding: 0;
        }
      }
      &__content {
        padding: 0;
        z-index: 1;
        text-align: center;
        line-height: 1.8;
        & p {
          color: white;
          font-size: $textMd;
        }
      }
    }
    &--PhuHop {
      
      padding: 10px;
      flex-direction: column;
      &__bg {
      }
      &__left {
        order: 1;
        width: 100%;
        
        &__title {
          font-size: $titleMD;
        }
        &__content {
          font-size: $textMd;
          text-align: center;
        }
        &__link {
          color: red;
        }
      }
      &__right {
        order: 2;
        & > div {
          margin-left: 0px;
          overflow: hidden;
          height: calc(50vh);
        }
        img {
          // margin-inline: 0 190px;
          height: calc(50vh) !important;
        }
      }
    }
    &--FeedBack {
      padding-top: 20px;
      &__bgMayBay1 {
        top: -2%;
        left: -15%;
      }
      &__bgMayBay2 {
        width: 25%;
      }
      &__bgVetSon1 {
        position: absolute;
        top: 10%;
        right: -100%;
        z-index: 0;
        transform: rotate(-135deg);
      }
      &__bgVetSon2 {
        position: absolute;
        top: 45%;
        left: -100%;
        z-index: 0;
        transform: rotate(-45deg);
      }
      &__bgVetSon3 {
        position: absolute;
        bottom: -0%;
        right: -100%;
        z-index: 0;
        transform: rotate(-45deg);
      }
      &__title {
        font-size: $titleMD;
      }
  
      &__Box {
        padding: 10px;
        flex-direction: column;
        &__left {
          width: 100%;
          height: max-content;
          padding: 20px 30px;
  
          &__title {
            // text-align: center;
            font-size: $textMd;
            font-weight: 700;
            padding: 10px 0;
          }
          &__content {
            font-size: $textMd;
            // text-align: center;
          }
          &__link {
            color: red;
          }
        }
        &__right {
          // width:  30%;
          flex: 1;
          order: 2;
          & > div {
            margin-left: -120px;
            overflow: hidden;
            height: calc(50vh);
          }
          img {
            // margin-inline: 0 190px;
            //   height: calc(80vh) !important;
            filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
          }
          //    position: absolute;
          //    bottom: 0;
          //    right: -20%;
          //    width: 1200px;
        }
      }
    }
    &--DangKy {
      padding: 10px;
      flex-direction: column;
  
      & label {
        font-family: $fontReem !important;
        font-size: $textMd !important;
      }
      & input {
        font-size: 18px;
        &::placeholder {
          font-family: $fontReem !important;
          font-size: $textMd !important;
          color: black;
        }
      }
      & .submit {
        font-size: $titleMD;
      }
  
      &__bg {

      }
      &__left {
        width: 100%;
        &__title {
          font-size: $titleMD;
          font-weight: 700;
        }
        &__content {
          font-size: $titleMD;
          font-weight: 600;
        }
        &__link {
        }
      }
      &__right {
        // width:  30%;
        flex: 1;
        & > div {
          margin-top: 40px;
          margin-right: 0px;
          // overflow: hidden;
          height: calc(40vh);
        }
        img {
          // margin-inline: 0 190px;
          height: calc(60vh) !important;
        }
        //    position: absolute;
        //    bottom: 0;
        //    right: -20%;
        //    width: 1200px;
      }
      .ant-form-item-label {
        width: 40%!important;
        flex: 0 0 70%!important;
      }
    }
  
    &--QA {
    padding: 10px;
      &__title {
        & p {
          color: white;
          font-weight: 700;
          font-size: $titleMD;
        }
      }
      &__content {
        padding: 0;
        line-height: 2;
        & p {
          font-size: $textMd;
          margin-bottom: 20px;
          font-weight: 700;
        }
      }
    }
    &--BanCanBiet {
      flex-direction: column;
      &__image {
        order: 2;
        flex: 1;
        object-fit: contain;
        position: sticky;
        top: 0px;
        margin-top: -70px;
        margin-right: -50px;
         & > div {
        // overflow: hidden;
        height: calc(30vh);
      }
        img {
          height: calc(70vh)!important;
          filter: drop-shadow(3px 0 9px rgb(130, 129, 129));
        }
        &__bg{
          position: absolute;
          opacity: .8;
          top: 5%;
          left: -40%;
          transform: scale(.5);
        }
      
      }
  
      &__text {
        width: 100%;
        padding: 10px;
        & p {
         
        }
        & span{
         
        }
      }
      &__bg1{
        opacity: 0.1;
      }
    }
  }
}
